*{
    background: #E6E6E6;
    font-family:'Abel', sans-serif;
}
.anton{
    font-family: 'Anton', sans-serif;
}
.circle-red{
    border-radius: 50%;
    height: 105px;
    width: 105px;
    border: 8px solid white;
    background: #E6563B;
    /*margin: 30px 15px 30px 30px;*/
}
.design{
    color: white;
    background: #E6563B;
    padding-top: 2em;
}
.circle-orange{
    border-radius: 50%;
    height: 105px;
    width: 105px;
    border: 8px solid white;
    background: #EB9D3A;
    /*margin: 30px 15px 30px 30px;*/
}
.develop{
    color: white;
    background: #EB9D3A;
    padding-top: 2em;
}
.circle-green{
    border-radius: 50%;
    height: 105px;
    width: 105px;
    border: 8px solid white;
    background: #7CB06C;
    /*margin: 30px 15px 30px 30px;*/
}
.support{
    color: white;
    background: #7CB06C;
    padding-top: 2em;

}
.circle-aqua{
    border-radius: 50%;
    height: 105px;
    width: 105px;
    border: 8px solid white;
    background: #00ABA9;
    /*margin: 30px 15px 30px 30px;*/
}
.host{
    color: white;
    background: #00ABA9;
    padding-top: 2em;
}